{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'weather/style.css' %}">
    <script defer src="{% static 'weather/script.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    <title>weatherapp</title>
</head>
<body>
    <div id="bg-image"></div>
    <!-- <h1>What is today's weather like?</h1> -->
    <div id='main'>
        <div id="content">
            <div id="search-box">
                <!-- <input type="text" id=" " name=" " placeholder="City"> -->
                <form method="POST">{% csrf_token %}
                {{ form.name }}
                <button type="submit">Search</button>
                </form>
            </div>
            <div id="weather-conditions">
                <div id="icon">
                    <img src="http://api.openweathermap.org/img/w/{{ icon }}.png">
                </div>
                <div id="text-content">
                    <h1>{{city}}</h1>
                    <span><p>{{temp}} &#8451;</p></span>
                    <p>{{description}}</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>